<nav  class="navbar navbar-expand-lg fixed-top navbar-light" id="top">
    <a class="navbar-brand" id="col" href="#"><img src="assets/images/logo.png" height="80" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <h5><a class="nav-item nav-link text-white navbar" href="#Takeway">Take away</a></h5>
        <h5><a class="nav-item nav-link text-white navbar" href="#Dining">Dining</a></h5>
    </div>
    </div>
  </nav>

 
    
  


