#top
{
    position: absolute;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: transparent;

}
.navbar-inverse
{
    background-color: white !important;
    color: black !important;
}

.navbar-inverse a{
    color: black !important;
}
